.footer{
    padding-top: 70px;
    background-image: url(/img/girl.jpg);
    min-height: 157px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__title{
        margin-left: 50px;
        font-family: $secondery-font;
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}