@import '../vars';

.man{
    margin-bottom: 150px;
    padding-left: 100px;
    margin-top: 150px;


    &__title1{
        margin-right: 100px;
        position: relative;
        margin-bottom: 80px;
        text-align: center;
        font-family: $main-font;

        &::after{
            position: absolute;
            right: 50%;
            bottom: 10px;
            background-color: black;
            height: 2.2px;
            transform: translateX(-50%);
            content: "";
            width: 370px;
        }

        &::before{
            position: absolute;
            left: 85%;
            bottom: 10px;
            background-color: black;
            height: 2.2px;
            transform: translateX(-50%);
            content: "";
            width: 370px;
        }
    }

    &__cat{
        width: 100%;
        display: flex;
    }

    &__main-img{
        width: 155%;
    }

    &__main-btn{
        position: absolute;
        padding: 10px 40px;
        color: white;
        background-color: rgb(37, 37, 37);
        border-radius: 5px;
        text-decoration: none;
        margin-top: -100px;
        margin-left: 180px;
        transition: .5s ease-in-out;

        &:hover{
            background-color: white;
            color: black;
            border: none;
        }
    }

    &__imgs{
        margin-left: 220px;
        margin-right: 80px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 1fr 1fr;
        grid-gap: 50px 20px;
    }

    &__img{
        max-width: 270px;
    }

    &__descr{
        width: 100%;
        margin-top: 20px;
        margin-left: 4px;
        font-family: $main-font;
        font-weight: normal;
    }

    &__btn{
        margin-left: 4px;
        padding: 10px 55px;
        color: #000;
        text-decoration: none;
        font-family: $main-font;
        font-weight: normal;
        border: 1px solid rgb(44, 44, 44);
        border-radius: 5px;
        transition: .5s ease-in-out;

        &:hover{
            background-color: black;
            color: white;
            border: none;
        }
    }
}

@media (max-width: 1300px) {
    .man{

        &__title1{
            &::after{
                display: none;
            }

            &::before{
                display: none;
            }
        }

        &__cat{
            display: flex;
        }

        &__main-img{
            width: 500px;
        }

        &__main-btn{
            position:relative;
            margin-bottom: -900px;
            margin-left: -300px;
        }

        &__imgs{
            margin-left: auto;
            margin-right: 80px;
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 900px) {
    .man{

        &__cat{
            display: block;
        }

        &__main-img{
            max-width: 600px;
            margin-bottom: 70px;
        }

        &__imgs{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 578px) {
    .man{

        margin-left: -50px;

        &__cat{
            display: block;
            left: 50%;
        }

        &__main-img{
            margin-left: 0;
            width: 500px;
            margin-bottom: 70px;
        }

        &__imgs{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
