@import '../vars';

.header{
    position: relative;

    &__info{
        padding: 10px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        width: 330px;
    }

    &__tel{
        text-align: center;
        color: $accent;
        font-size: 18px;        
    }
    
    &__tel-descr{
        font-size: 20px;
    }

    &__room-sign{
        padding: 5px 15px;
        border: 2px solid $accent;
        color: $accent;
        border-radius: 5px;
        background-color: #fff;

        &:hover{
            border: 2px solid $orange;
            background: $orange;
            color: #fff
        }
    }

    &__room-leng{
        padding: 5px 15px;
        border: 2px solid $accent;
        color: $accent;
        border-radius: 5px;
        background-color: #fff;

        &:hover{
            border: 2px solid $orange;
            background: $orange;
            color: #fff
        }
    }
}

// nav
.navbar{
    z-index: 1;
    height: 70px;
    background: $accent;    
    padding: 20px 70px;
    width: 100%;

    &-nav{
        align-items: center;
    }

    .dropdown + .dropdown{
        margin-left: 120px;
    }

    .links{
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
    }
}

//banner
.banner{
    &__image{
        position: relative;
    }

    &__img{
        width: 100%;
        border-radius: 0 0 500px 0;
        height: 450px;
        object-fit: cover;
    }

    &__block{
        padding: 10px 70px;
        margin-top: -400px;
        display: flex;
        position: absolute;
    }

    &__info{
        max-width: 450px;
    }

    &__title{
        font-size: 60px;
        font-weight: 700;
    }

    &__title-span{
        color: #fff;
        font-size: 65px;
    }

    &__btn{
        margin-top: 20px;
        padding: 12px 50px;
        font-size: 25px;
        color: $orange;
        font-weight: 700;
        border: 1px solid $orange;
        border-radius: 5px;
    }

    &__form{
        padding: 20px 30px;
        background-color: #fff;
        width: 400px;
        margin-left: 380px;
    }

    &__form-title{
        font-size: 20px;
        font-weight: 700;
    }

    &__sum-block{
        padding: 10px 20px;
        border-radius: 5px;
        background-color: $orange;
    }

    &__sum-info{
        justify-content: space-between;
        display: flex;
    }

    &__sum-info-sum{
        font-weight: 600;
    }

    &__sum-cat{
        border: 2px solid black;
    }

    &__date{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__date-block{
        padding: 10px 20px;
        border-radius: 5px;
        background-color: $orange;
    }

    &__date-info{
        justify-content: space-between;
        display: flex;
    }

    &__date-info-date{
        font-weight: 600;
    }

    &__date-cat{
        border: 2px solid black;
    }

    &__input{
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 80px;
    }

    &__input-btn{
        color: #fff;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 30px;
        font-weight: 700;
        border: none;
        background: $orange;
        padding: 10px 42px;
    }

    // modal
    &__modal{
        padding-top: 50px;
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: none;
    }

    &__modal-card{
        margin: auto auto;
        width: 500px;
        background: rgb(241, 241, 241);
        padding: 30px;
        border-radius: 20px;
    }

    &__modal-titles{
        display: flex;
        justify-content: space-between;
    }

    &__modal-title{
        font-size: 20px;
        color: $accent;
    }

    &__modal-btn-x{
        font-size: 23px;
        border: none;
        background: none;
    }

    &__modal-btn{
        border: none;
        padding: 10px 20px;
        background: $accent;
        color: white;
        border-radius: 5px;
    }

    &-active{
        display: block;
        z-index: 2;
    }
}

@media (max-width: 770px) {
    .header{
        &__tel{
            display: none;
        }

        &__logo{
            max-width: 150px;
        }

        &__room-sign{
            display: none;
        }
    }

    .banner{

        &__img{
            border-radius: 0;
        }

        &__title{
            max-width: 100%;
            font-size: 40px;
        }

        &__title-span{
            font-size: 40px;
            color: black;
        }
        &__form{
            margin-top: 30px;
            margin-left: -60px;
        }

        &__block{
            margin-top: 0;
            display: grid;
        }
    }
}